* {
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

section {
    display: -webkit-flex;
    display: flex;
}

nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

.container {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
}

.form input, textarea {
    min-width: 500px;
}

table tr td {
    min-width: 150px;
    text-align: center;
}

.col-checkbox {
    min-width: 20px;
}

.text-danger {
    color: red;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: red;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}